{% extends "layoutAdmin.njk" %}

{% block content %}
  <section class="content">
    <section>
        <div class="recipeId" id="{{recipe.id}}">
          <section class="content">
            <div class="title">
              <h3>Receita: {{recipe.title}}</h3>
              <a href="/admin/recipes/{{recipe.id}}/edit" class="button"> Editar Receita</a>
            </div>
          </section>
          <div class="recipeImage">
            <img class="image" src="{{ recipe.avatar_url }}" alt="{{recipe.title}}">
          </div>
          <div class="recipeTitleId">
            <span>{{recipe.title}}</span>
          </div>
          <div class="recipeAuthorId">
            <span>por {{recipe.author}}</span>
          </div>
        </div>

        <div class="details-info">
            <div class="detailsMenu">
              <h2>Ingredientes</h2>
            </div>
            <div class="detailsInfo">
              <ul>
                {% for ingredient in recipe.ingredients %}
                  <li>- {{ingredient}}</li>
                {% endfor %}
              </ul>
            </div>
        </div>

        <div class="details-info">
          <div class="detailsMenu">
            <h2>Modo de Preparo</h2>
          </div>
          <div class="detailsInfo">
            <ol>
              {% for pass in recipe.preparation %}
                <li>- {{pass}}</li>
              {% endfor %}
            </ol>
          </div>
        </div>

        <div class="details-info">
          <div class="detailsMenu">
            <h2>Informações dicionais</h2>
          </div>
          <p class="detailsInfo info">{{recipe.description}}</p>
        </div>
    </section>
  </section>

  <script src="scripts.js"></script>
{% endblock %}