{% extends "layoutAdmin.njk" %}

{% block content %}
  <section class="content">
    <div class="title">
      <h3>Gerenciar Chefs</h3>
      <a href="/admin/chefs/create" class="button"> + Criar Chef</a>
    </div>

    <section class="chefs">
          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>

          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>

          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>

          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>

          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>

          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>

          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>

          <div class="chef" id="{{chef.id}}">
            <div>
              <img src="/assets/burger.png" alt="{{chef.name}}">
            </div>
            
            <div class="chefContent">
                <span>Elves Brito</span>
                <span class="totalRecipes">2 receitas</span>
            </div>
          </div>
        </section>
  </section>

  
     
        
     
    
{% endblock %}