{% extends "layout.njk" %}

{% block content %}
  <section class="content">
    <section class="chefs">
      
        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>

        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>

        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>

        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>

        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>

        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>

        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>

        <div class="chef" id="{{chef.id}}">
          <div>
            <img src="/assets/burger.png" alt="{{chef.name}}">
          </div>
          
          <div class="chefContent">
              <span>Elves Brito</span>
              <span class="totalRecipes">2 receitas</span>
          </div>
        </div>
      
    </section>

  </section>
{% endblock %}