{% extends "layout.njk" %}

{% block filter %}
  <div class="filter">
      <form action="/receitas" method="GET">
          <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
          <button type="submit">Buscar</button>
      </form>
  </div>
{% endblock %}

{% block content %}
  <section class="content">
    <div class="banner">
      <div class="description">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.</p>
      </div>
      <div class="chefImage">
        <img src="assets/chef.png" alt="Chef">
      </div>
    </div>

    <div class="mostAcessed">
      <h1>Mais acessadas</h1>
    </div>

    <section class="recipes">
      {% for recipe in recipes %}
        <div class="recipe" id="{{ recipe.id }}">
          <div>
            <img src="{{ recipe.avatar_url }}" alt="{{ recipe.title }}">
          </div>
          <div class="recipeTitle">
            <span>{{ recipe.title }}</span>
          </div>
          <div class="recipeAuthor">
            <span>por {{recipe.author }}</span>
          </div>
        </div>
      {% endfor %}
    </section>
  </section>
{% endblock %}