{% extends "layout.njk" %}

{% block content %}
  <div class="content">
    <p>
      Pagina não encontrada! Erro 404. <br>
      Verifique a URL digitada<br>
      Entre em contato com o provedor do servidor caso a URL esteja certa!
    </p>
  </div>
{% endblock %}