{% extends "layout.njk" %}

{% block filter %}
  <div class="filter">
      <form action="/receitas" method="GET">
          <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
          <button type="submit">Buscar</button>
      </form>
  </div>
{% endblock %}

{% block content %}
  <section class="content">
    <section class="recipes">
      {% for recipe in recipes %}
        <div class="recipe" id="{{recipe.id}}">
          <div>
            <img src="{{ recipe.avatar_url }}" alt="{{recipe.title}}">
          </div>
          <div class="recipeTitle">
            <span>{{recipe.title}}</span>
          </div>
          <div class="recipeAuthor">
            <span>por {{recipe.author}}</span>
          </div>
        </div>
      {% endfor %}
    </section>
  </section>
{% endblock %}