* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;  
}

.cabecalho {
  margin: 35px auto;
  width: 940px;
  height: 30px;
  display: grid;
  grid-template-columns: 91px 400px 1fr;
  align-items: center;
}

.logo {
  width: 90.6px;
  height: 26.9px;
  color: #111;
}

.optionsMenu {
  display: flex;
  justify-content: center;
}

.optionsMenu a {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #111;
  text-decoration: none;
  margin-left: 35px;
}

.optionsMenu a.active {
  font-weight: bold;
}

.filter form {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 5px;
  align-items: center;
  visibility: visible;
}

.filter form input {
  width: 320px;
  height: 37px;
  font-size: 16px;
  border: 1px solid #dddddd;
  padding-left: 5px;
  box-sizing: border-box;
  justify-self: right;
  outline: none;
}

.filter form button {
  width: 91px;
  height: 37px;
  border-radius: 4px;
  background-color: #6558c3;
  font-size: 16px;
  color: white;
  font-weight: bold;
  justify-self: right;
  cursor: pointer;
}

.content {
  max-width: 940px;
  flex: 1 0 auto;
  margin: 0 auto;
}

.banner {
  width: 940px;
  height: 366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FBDFDB;
  border-radius: 30px;  
  padding: 0 100px;
}

.description h1 {
  width: 305px;
  height: 38px;
  font-family: Roboto-Bold;
  font-size: 32px;
  color: #111;
}

.description p {
  width: 316px;
  height: 84px;
  opacity: 0.7;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.chefImage {
  margin-top: 70px;
}

.mostAcessed {
  width: 174px;
  height: 28px;
  margin-top: 40px;
}

.mostAcessed h1 {
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #111;
}

.recipes {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.recipe img {
  margin-top: 30px;
  width: 310px;
  height: 140px;
  border-radius: 15px;
  cursor: pointer;
}

.recipeTitle {
  height: 21px;
  margin-top: 10px;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #111;
}

.recipeAuthor {
  margin-top: 5px;
  height: 16px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #777777;
}

.footer {
  flex-shrink: 0;
  height: 62px;
  font-family: Roboto-Regular;
  font-size: 14px;
  background-color: #eee;
  color: #999;
  text-align: center;
  padding: 30px;
  margin-top: 40px;
}

/*ABOUT*/

.title {
  width: 164px;
  height: 28px;
  margin: 40px 0;
}

.title h1 {
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #111111;
}

.subTitle {
  width: 202px;
  height: 24px;
  margin: 30px 0;
}

.subTitle h2 {
  font-family: Roboto-Bold;
  font-size: 19px;
  color: #111;
}

.about {
  width: 940px;
  height: 280px;
}

.about p {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444;
  line-height: 28px;
  text-align: justify;
}

/*RECIPE/:ID*/

.recipeId {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeImage img {
  width: 940px;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}

.recipeTitleId {
  margin-top: 40px;
  font-family: Roboto-Bold;
  font-size: 36px;
  color: #111111;
}

.recipeAuthorId {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: #777777;
}

.detailsMenu {
  display: flex;
  align-items: baseline;
  margin: 25px 0;
}

.details-info {
  margin-left: 10px;
}

.detailsInfo {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.detailsInfo li {
  margin-left: 15px;
}

.detailsInfo.hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}

.detailsMenu h2{
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #111;
}

.detailsMenu a {
  font-family: Roboto-Bold;
  font-size: 12px;
  color: #999;
  margin-left: 10px;
  cursor: pointer;
}

.detailsMenu p {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-top: 25px;
  text-align: justify;
}

/*CHEFS*/

.chefs {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.chef {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.chef img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.chefContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.chefContent span:nth-child(1) {
  width: 95px;
  height: 21px;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #111;
}

.totalRecipes {
  width: 61px;
  height: 16px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
}
